body {
  background: #fdfdfd;
  margin: 30px;
  // border-style: solid;

  h1,
  h2,
  h3 {
    color: black;
    font-family: "Work Sans", sans-serif;
    //
    // @media only screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2) {
    //   font-size: 12px;
    // }
  }

  // align-items: center;
  // font-family: "Work Sans", sans-serif;
  // font-size: 18px;
  // margin-top: 25px;

  .statistics-moves-container {
    display: flex;
    align-items: center;
    flex: 70%;
  }
  .column {
    float: left;
    flex: 30%;
  }

  .graph-column {
    float: left;
    flex: 30%;
  }

  .react-switch-handle {
    background-image: url("./pokemon_ball.png") !important;
    background-size: cover !important;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }

  .moves-container {
    height: 500px;
    width: 800px;
    overflow: scroll;
    align-items: center;
    margin-left: 30px;
    margin-top: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .moves-text {
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: bold;
  }
  .toggle {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
  }
  .toggle-container {
    align-items: center;
  }
  .toggle-row {
    text-align: center;
    position: flex;
  }
  .pokemon-graph {
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    margin-top: 25px;
  }

  .row {
    display: flex;
    max-width: 750px;
  }

  .graph-heading {
    text-align: center;
  }

  .search-bar {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 45px;
    width: 300px;
    display: grid;
    grid-row-gap: 50px;
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
  }

  .fire {
    background-color: #ee8130;
  }

  .normal {
    background-color: #a8a77a;
  }

  .water {
    background-color: #6390f0;
  }

  .electric {
    background-color: #f7d02c;
  }

  .grass {
    background-color: #7ac74c;
  }

  .ice {
    background-color: #96d9d6;
  }

  .fighting {
    background-color: #c22e28;
  }

  .poison {
    background-color: #a33ea1;
  }

  .ground {
    background-color: #e2bf65;
  }

  .flying {
    background-color: #a98ff3;
  }

  .psychic {
    background-color: #f95587;
  }

  .bug {
    background-color: #a6b91a;
  }

  .rock {
    background-color: #b6a136;
  }

  .ghost {
    background-color: #735797;
  }

  .dragon {
    background-color: #6f35fc;
  }

  .dark {
    background-color: #705746;
  }

  .steel {
    background-color: #b7b7ce;
  }

  .fairy {
    background-color: #d685ad;
  }
  img {
    height: 300px;
  }
  .pokemon-info {
    margin-left: 20px;
  }
  .pokemon-name {
    font-family: sans-serif;
    font-size: 35px;
  }
  .info-box {
    display: grid;
    grid-column-gap: 50px;
    margin-top: 20px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 45px;
    width: 300px;
    display: grid;
    grid-row-gap: 50px;
    // height: 600px;
    width: 300px;
  }
}
