body {
  background: #fdfdfd;
  margin-left: 50px;

  h1,
  h2,
  h3 {
    color: black;
    font-family: "Work Sans", sans-serif;
  }

  .column {
    float: left;
    flex: 30%;
    padding: 10px;
  }
  .react-switch-handle {
    background: red;
  }
  .toggle {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .toggle-container {
    align-items: center;
  }
  .toggle-row {
    text-align: center;
  }
  .pokemon-graph {
    align-items: center;
    font-family: "Work Sans", sans-serif;
  }

  .row {
    display: flex;
    max-width: 650px;
  }

  .graph-heading {
    text-align: center;
  }

  .search-bar {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 45px;
    width: 300px;
    display: grid;
    grid-row-gap: 50px;
    font-family: "Work Sans", sans-serif;
  }

  .fire {
    background-color: #ee8130;
  }

  .normal {
    background-color: #a8a77a;
  }

  .water {
    background-color: #6390f0;
  }

  .electric {
    background-color: #f7d02c;
  }

  .grass {
    background-color: #7ac74c;
  }

  .ice {
    background-color: #96d9d6;
  }

  .fighting {
    background-color: #c22e28;
  }

  .poison {
    background-color: #a33ea1;
  }

  .ground {
    background-color: #e2bf65;
  }

  .flying {
    background-color: #a98ff3;
  }

  .psychic {
    background-color: #f95587;
  }

  .bug {
    background-color: #a6b91a;
  }

  .rock {
    background-color: #b6a136;
  }

  .ghost {
    background-color: #735797;
  }

  .dragon {
    background-color: #6f35fc;
  }

  .dark {
    background-color: #705746;
  }

  .steel {
    background-color: #b7b7ce;
  }

  .fairy {
    background-color: #d685ad;
  }
  img {
    height: 300px;
  }
  .pokemon-info {
    margin-left: 20px;
  }
  .pokemon-name {
    font-family: sans-serif;
  }
  .info-box {
    display: grid;
    grid-column-gap: 50px;
    margin-top: 20px;
    display: block;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: block;
    height: 45px;
    width: 300px;
    display: grid;
    grid-row-gap: 50px;
    // height: 600px;
    width: 300px;
  }
}
